<fieldset id="test_plan_loader">
  <legend>Test Plan</legend>
  <p>
    <%= select_tag('load_test_plan_id', options_from_collection_for_select(@project.test_plans, :id, :title), { prompt: '- Seleccione -' }) %>
    <input type="button" id="load_test_plan" value="Load" />
  </p>
  <%= render partial: 'testmine/test_plan_form', locals: { test_plan: TestPlan.new } %>
</fieldset>
<div class="splitted-container">
  <fieldset class="half" id="test_plan_panel">
    <legend>Test Execution</legend>
    <div id="test_plan_content">
      <h3>Please, select a Test Plan</h3>
    </div>
  </fieldset>
  <fieldset class="half" id="test_execution_form">
    <legend>Test Case</legend>
    <%= render partial: 'test_executions/form', locals: { test_execution: @test_execution } %>
  </fieldset>
</div>