#overlay {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.7);
  z-index: 23;
}

.no-scroll {
  overflow: hidden;
}

div.modal {
  display: block;
  position: fixed;
  margin: 0 auto;
  padding: 20px;
  color: #454545;
  border-radius: 0px;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  min-width: 600px;
  max-height: 600px;
  overflow: auto;
}

div.modal form:not(#issue-form) label {
  display: block;
}

div.modal form:not(#issue-form) .inline label {
  display: inline-block;
}

div.modal form:not(#issue-form) input[type="text"],
div.modal form:not(#issue-form) textarea {
  width: 100%;
  font-family: inherit;
}

div.modal form:not(#issue-form) input[type="number"] {
  width: 100px;
}

label#test_case_step_item,
input.test_case_step_item {
  display: inline-block !important;
  width: 40px !important;
}

label#test_case_step_action,
input.test_case_step_action {
  display: inline-block !important;
  width: 200px !important;
}

label#test_case_step_expected_result,
input.test_case_step_expected_result {
  display: inline-block !important;
  width: 200px !important;
}

label#add_test_case_step {
  display: inline-block !important;
  width: 16px;
}

label#add_test_case_step img {
  display: inline-block !important;
  vertical-align: middle;
  margin-left: 10px;
}

label#test_case_step_item {
  width: 44px;
}

label#test_case_step_action {
  width: 204px;
}

label#test_case_step_expected_result {
  width: 204px;
}

.test_case_step label {
  display: none !important;
}

.test_case_step img {
  display: inline-block;
  vertical-align: middle;
  margin-left: 10px;
}