#overlay {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.7);
  z-index: 111;
}

.no-scroll {
  overflow: hidden;
}

div.modal {
  display: block;
  position: fixed;
  margin: 0 auto;
  padding: 20px;
  color: #454545;
  border-radius: 0px;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

div.modal label {
  display: block;
}

div.modal .inline label {
  display: inline-block;
}

div.modal input[type="text"],
div.modal textarea {
  width: 100%;
  font-family: inherit;
}

div.modal input[type="number"] {
  width: 100px;
}

div.modal label#test_case_step_item,
div.modal input.test_case_step_item {
  display: inline-block;
  width: 40px;
}

div.modal label#test_case_step_action,
div.modal input.test_case_step_action {
  display: inline-block;
  width: 200px;
}

div.modal label#test_case_step_expected_result,
div.modal input.test_case_step_expected_result {
  display: inline-block;
  width: 200px;
}

div.modal label#add_test_case_step {
  display: inline-block;
  width: 16px;
}

div.modal label#add_test_case_step img {
  display: inline-block;
  vertical-align: middle;
  margin-left: 10px;
}

div.modal label#test_case_step_item {
  width: 44px;
}

div.modal label#test_case_step_action {
  width: 204px;
}

div.modal label#test_case_step_expected_result {
  width: 204px;
}

div.modal .test_case_step label {
  display: none;
}

div.modal .test_case_step img {
  display: inline-block;
  vertical-align: middle;
  margin-left: 10px;
}