textarea {
  font-family: inherit;
}

.tab_page * {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}

.tab_pages .tab_page {
  display: none;
  overflow: visible;
}

.tab_pages .tab_page.selected {
  display: block;
}

.tab_page fieldset.half {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  display: block;
  float: left;
  width: 49%;
  border-radius: 1px;
  padding: 20px;
}

.tab_page fieldset.half:first-child {
  margin-right: 1%;
}

.tab_page fieldset.half:last-child {
  margin-left: 1%;
}

#test_case_document_id,
#test_plan_created_by_user_id,
#test_plan_executed_by_user_id {
  width: 100%;
}

#project_test_suites,
#project_test_plans {
  margin: 0;
  padding: 0;
  list-style: none;
}

#project_test_suites h4,
.test_suite_test_cases > li,
#project_test_plans h4,
.test_plan_test_cases > li {
  position: relative;
}

#project_test_suites ul.menu,
#project_test_plans ul.menu {
  display: none;
  position: absolute;
  left: 0;
  top: 100%;
  width: 120px;
  background: #fff;
  margin: 0;
  padding: 5px;
  list-style: none;
  border: solid 1px #eee;
  z-index: 1;
}

h5 {
  margin: 0;
}

.splitted-container {
  overflow: hidden;
}

.two-columns {
  display: block;
  width: 100%;
  overflow: hidden;
}

.two-columns .column {
  display: block;
  float: left;
  width: 50%;
}

.two-columns .column p {
  margin-top: 0;
}

.two-columns p label {
  display: inline-block;
  width: 100px;
}

.two-columns textarea {
  width: 100%;
}

#test_plan_test_plan_status_id {
  display: block;
}

.full-label label {
  display: block;
  width: 100%;
}

.full-label input, .full-label textarea, .full-label select {
  display: block;
  width: 100%;
}

#test_execution_status {
  margin: 14px 0 0 0;
  padding: 0;
  list-style: none;
}

#new_issue {
  display: block;
}

#test_suite_test_case_test_suite_id {
  width: 100%;
}